WIX_CLOUD_PROVIDER="KUBERNETES"
WIX_CLIENT_ID="your-wix-client-id"
WIX_CLIENT_INSTANCE_ID="your-wix-client-instance-id"
WIX_CLIENT_PUBLIC_KEY="your-wix-client-public-key"
WIX_CLIENT_SECRET="your-wix-client-secret"
